  <h1>Adivinhe o número!</h1>
  <h2>Seu objetivo é acertar o número secreto.</h2>
  <p>O número secreto está entre 1 e 100</p>

  @if (!isJogando) {
  <div>
    <p><input type="radio" name="nivel" value="10" [(ngModel)]="tentativas">Fácil (10 Tentativas)</p>
    <p><input type="radio" name="nivel" value="8" [(ngModel)]="tentativas">Médio (8 tentativas)</p>
    <p><input type="radio" name="nivel" value="5" [(ngModel)]="tentativas">Difícil (5 Tentativas)</p>
  </div>

  <button (click)="iniciarJogo()">Iniciar Jogo</button>
  }
  @else {
  @if (tentativas>0) {
  <p>Você tem {{ tentativas }} tentativas!</p>
  @if (!isGanhou) {
  <input type="number" name="palpite" placeholder="Infórme seu palpite" [(ngModel)]="palpite" min="1" max="100">
  <button (click)="novoPalpite()">Enviar Palpite</button>
  }
  @for (mensagem of mensagens ; track $index) {
  <p>{{ mensagem }}</p>
  }
  @if (isGanhou) {
  <button (click)="novoJogo()">Reiniciar jogo</button>
  }
  }
  @else {
  <p>QUE PENA VOCÊ PERDEU!!!</p>
  <p>O número secreto era {{ numeroSecreto }}</p>
  <button (click)="novoJogo()">Jogar novamente</button>
  }

  }
